{% extends "layout.html" %}

{% block body %}
<div class="w3-content" style="max-width:1500px">
  <div class="w3-center">
    <h1 id="heading">Homepage</h1>
  </div>
  <ul class="w3-padding-48" id="indexH1">
    <li class="w3-padding-16"> <a href="C:\Users\ameya\Desktop\Homepage\projects.html">Projects</a></li>
    <li class="w3-padding-16"> <a href="C:\Users\ameya\Desktop\Homepage\montage.html">Montage</a></li>
    <li class="w3-padding-16"> <a href="C:\Users\ameya\Desktop\Homepage\pics.html">Pics/Socials</a></li>
  </ul>

<p id="version">version: 0.0</p>
</div>
{% endblock %}
